@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
body{
    background-color: #131316;
    font-family: 'Poppins', sans-serif;
    color: bisque;
    font-weight: bold;
}
section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}
.links{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 80px;
}

nav h3{
    color: bisque;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: bisque;
    font-size: 17px;
}

.content{
    text-align: center;
}

.content h1{
    font-size: 160px;
    color: bisque;
    font-weight: 600;
    transition: 0.5s;
}

.content h3{
    font-size: 20px;
    color: bisque;
    font-weight: 100;
}

.content a{
    text-decoration: none;
    display: inline-block;
    color: bisque;
    font-size: 24px;
    border: 2px solid bisque;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}
.back-video{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.container{
    display: grid;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
 
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2.5s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);
}

.scroll-tracker {
    height: 0.5rem;
    background-color: #f48024;
    position: fixed;
    inset: 0 0 auto;
    transform-origin: left;
}
.viewcounttop {
    position: absolute;
    top: 820px;
    left: 115px;
}
.viewcountbottom {
    position: absolute;
    top: 900px;
    left: 138px;
}
#count {
    position: absolute;
    top: 850px;
    left: 150px;
    font-size: 30px;
}